@model RequestWithVendor

@{
    ViewData["Title"] = "Add Item";
}

<h2>Add Item</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Item Name</label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input asp-for="QuantityRequested" class="form-control" />
                <span asp-validation-for="QuantityRequested" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Estimated Cost</label>
                <input asp-for="EstimatedCost" class="form-control" />
                <span asp-validation-for="EstimatedCost" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label class="control-label">Vendor</label>
            <input asp-for="VendorId" class="form-control" />
            <span asp-validation-for="VendorId" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label class="control-label">Item Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h5>Deselect chosen for unwanted competetive items, otherwise specify reason chosen</h5>
                <label class="control-label">Chosen</label>
                <input asp-for="Chosen" class="btn-info" checked />
                <span asp-validation-for="Chosen" class="text-danger"></span>
                <br />
                <label class="control-label">Reason Chosen</label>
                <input asp-for="ReasonChosen" class="form-control"  />
                <span asp-validation-for="ReasonChosen" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="submit" asp-route-orderId="@Model.OrderId" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

