@model RequestWithVendor

@{
    ViewData["Title"] = "Edit Item";
}

<h2>Edit Item</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-controller="Request" asp-action="EditItem" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Item Name</label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input asp-for="QuantityRequested" class="form-control" />
                <span asp-validation-for="QuantityRequested" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Estimated Cost</label>
                <input asp-for="EstimatedCost" class="form-control" />
                <span asp-validation-for="EstimatedCost" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Item Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <h5>Deselect chosen for unwanted competetive items</h5>
                <label class="control-label">Chosen</label>
                <input asp-for="Chosen" class="btn-info" checked />
                <span asp-validation-for="Chosen" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Purchasing"))
            {

                <div class="form-group">
                    <label class="control-label">Paid Cost</label>
                    <input asp-for="PaidCost" class="form-control" />
                    <span asp-validation-for="PaidCost" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="control-label">Paid Total</label>
                    <input asp-for="PaidTotal" class="form-control" />
                    <span asp-validation-for="PaidTotal" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Update Item" />
                </div>
            </div>
            @Html.HiddenFor(x => x.OrderId)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.TimeStamp)

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

