@model EmployeeBudgetCodeViewModel

<h2>Delete User From Role</h2>

<form asp-controller="Budget" asp-action="DeleteUserFromBudgetCode">
    <input type="hidden" name="@Model.EmployeeId" value="@Model.EmployeeName" />


    @Html.DropDownListFor(x => x.EmployeeId, new SelectList(ViewBag.Employees, "Id", "FullName"), new { @class = "form-control" })
    <br />
    <input class="btn btn-primary" value="Remove from Budget Code" type="submit" />
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
    @Html.HiddenFor(x => x.BudgetCodeId)
</form>