@model BudgetCodeWithAmount

@{
    ViewData["Title"] = "Add Budget Code";
}

<h2>Add New Budget Code</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBudgetCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BudgetCodeName" class="control-label">Name</label>
                <input asp-for="BudgetCodeName" class="form-control" readonly />
                <span asp-validation-for="BudgetCodeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DA" class="control-label">DA Code</label>
                <input asp-for="DA" class="form-control" readonly />
                <span asp-validation-for="DA" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                <input asp-for="TotalAmount" class="form-control"  />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <input asp-for="Type" onclick="return false;"/> @Html.DisplayNameFor(model => model.Type)
                </div>
            </div>*@

            <div class="form-group">
                <input type="submit" asp-action="UpdateTotal" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>