@model CampusWithAddress


<h2>Add New Campus</h2>

<form asp-controller="Campus" asp-action="AddCampus" method="post" class="form-horizontal" role="form">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CampusName" class="col-md-2 control-label">Campus Name</label>
        <div class="col-md-10">
            <input asp-for="CampusName" class="form-control" />
            <span asp-validation-for="CampusName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StreetAddress" class="col-md-2 control-label">Street Address</label>
        <div class="col-md-10">
            <input asp-for="StreetAddress" class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Zip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Zip" class="form-control" />
            <span asp-validation-for="Zip" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create campus" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>