@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IList<RoomWithCampus>

@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No rooms yet</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="Campus">
        <tr>
            <th>Room Code</th>
            <th>Room Name</th>
            <th>Active</th>
        </tr>

        @foreach (RoomWithCampus room in Model)
        { 
            <tr>
                <td>@room.RoomCode</td>
                <td>@room.RoomName</td>
                <td>@room.Active</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="EditRoom" asp-route-id="@room.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
}

<p>
    <a anchor-style="primary" asp-action="Index">Back to Campus</a>
</p>


