@model DepartmentWithDivision

@{
    ViewData["Title"] = "Add Department";
}

<h2>Add Department</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Department Name</label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label class="control-label">Division</label>

               
                    @Html.DropDownListFor(m => m.DivisionId,  (SelectList)ViewBag.Divisions, "Select Division", new { @class = "form-control" })
               
               

                <span asp-validation-for="DivisionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

